.attendance-create{
    background-color: #f0eff2;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-create__inner{
    max-width: 500px;
    margin: 0 auto;
   
}

.attendance-status{
    background-color: #c8c8c8;
    border: none;
    border-radius: 24px;
    padding: 8px 18px;
    text-align: center;
    width: 120px;
    margin: 30px auto 0;
    letter-spacing: 2px;
}

.status{
    color: #757575;
    font-weight: bold;
    font-size: 22px;
}

.attendance-date{
    font-size: 50px;
    margin: 34px auto 0;
    text-align: center;
}

.attendance-time{
    font-size: 90px;
    font-weight: bold;
    margin: 30px auto 0;
    text-align: center;
}

.attendance-working {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.button--work_start,
.button--work_end{
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 20px;
    width: 240px;
    padding: 14px 20px;
    margin: 60px auto 0;
    font-size: 36px;
    letter-spacing: 2px;
}

.button--break_start,
.button--break_end{
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 240px;
    padding: 14px 20px;
    margin: 60px auto 0;
    font-size: 36px;
    letter-spacing: 2px;
}

.work_end-message{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 100px;
}