.attendance-detail {
    background-color: #f0eff2;
    min-height: 100vh;
    padding-bottom: 100px;
}

.attendance-detail__inner {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.detail-heading {
    padding-left: 20px;
    padding-right: 0;
    border-left: 8px solid #000;
    width: 60%;
    margin: 60px  auto;
    font-size: 36px;
    text-align: left;
    margin-left: 260px;
}

.table-wrapper{
    position: relative;
}

.detail-table {
    margin: 40px auto 0;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 100px;
}

.detail-row {
    border: 2px solid #E1E1E1;
    padding: 20px ;
    align-items: center;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 60px;
}

.detail-label {
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 30px 80px;
    text-align: center;
    letter-spacing: 2px;
    width: 200px;
}

.detail-data{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    padding: 30px 0 30px 200px;
}

.name-text{
    letter-spacing: 3px;
}

.data-row{
    display: flex;
    justify-content: flex-start;
    gap: 120px;
}

.detail-row:first-child {
    border-top: none;
}

.detail-row:last-child {
    height: 140px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"],
input[type="text"]{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    letter-spacing: 2px;
}

.time-separator{
    margin: 0 16px;
}

.detail-data--textarea {
    padding-left: 30px 0 30px 40px;
}

.reason{
    font-size: 18px;
    font-weight: bold;
    resize: none;
    padding: 16px 20px;
    width: 50%;
    border: 2px solid #E1E1E1;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0;
}

.error-message{
    color: red;
    font-size: 14px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    position:absolute;
    right: 260px;
    bottom: -80px;
}

.application-button{
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    width: 140px;
    font-weight: bold;
}

.pending-message{
    color: #f77879;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 260px;
}