.application-approve {
    background-color: #f0eff2;
    width: 100%;
    flex-grow: 1;
    padding-bottom: 100px;
}

.application-approve__inner {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.application-approve__heading {
    padding-left: 20px;
    padding-right: 0;
    border-left: 8px solid #000;
    width: 60%;
    margin: 60px auto;
    font-size: 36px;
    text-align: left;
    margin-left: 260px;
}

.detail-table {
    margin: 40px auto 0;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border: none;;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 100px;
}

.detail-row {
    border: 2px solid #E1E1E1;
    padding: 20px;
    align-items: center;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 60px;
}

.detail-label {
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 30px 80px;
    text-align: center;
    letter-spacing: 2px;
    width: 200px;
}

.detail-data {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    padding: 30px 0 30px 200px;
}

.attendance-time,
.break-time{
    display: flex;
    gap:40px;
}

.name-text {
    letter-spacing: 3px;
}

.data-row {
    display: flex;
    justify-content: flex-start;
    gap: 120px;
}

.detail-row:first-child {
    border-top: none;
}

.detail-row:last-child {
    height: 140px;
}

.time-separator {
    margin: 0 16px;
}

.detail-data--textarea {
    padding-right:  40px;
    display: flex;
    align-items: center;
}

.reason {
    font-size: 18px;
    font-weight: bold;
    resize: none;
    padding: 24px 0px;
    width: 50%;
    border: none;
    margin: 0;
    background-color: transparent;
    height: 70px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.approve-button {
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    position: relative;
    right: 260px;
    width: 140px;
}

.approved-button{
    display: block;
    background-color: #696969;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    right: 260px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    width: 140px;
}

