.application-list{
    background-color: #f0eff2;
    width: 100%;
    flex-grow: 1;
    padding-bottom: 80px;
}

.application-list__inner{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.application-heading{
    padding: 0 10px;
    border-left: 5px solid #000;
    width: 60%;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 36px;
}

.border{
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

.tab-list{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}

.tab-item {
    list-style: none;
}

.tab-item a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.tab-item.active a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.tab-item a:hover,
.tab-item a:visited{
    color: black;
    text-decoration: none;
}

.table-wrapper{
    border-radius: 10px;
    background-color: #fff;
}

.application-table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    padding-bottom: 100px;
    background-color: #fff;
}

.application-table tbody .application-row {
    border-top: 2px solid #E1E1E1;
}

.application-table thead .application-row {
    border-top: none;
    border-bottom: 4px solid #E1E1E1;
}

.application-row {
    border: 2px solid #E1E1E1;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 60px;
}

.application-label,
.application-data {
    color: #757575;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
}

.application-data__detail {
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.application-label:first-child {
    border-top: none;
}

.application-data__detail :hover,
.application-data__detail :active,
.application-data__detail :visited {
    color: black;
}